
body {
    margin: 0;
    padding: 0;
}



.hoofdbalk {
    background-color: lightgray;
    height: 100px;
    display: flex;
    
}



.logo {
    height: 100px;
    flex:1;
    padding-right: 3cm;

    
    
}

.categorie {
    height: 100px;
    display: flex;
    flex: 2;
    align-items: center;
    justify-content:right;
    

}

.knop_categorie {
    display: flex;
    height: 70px;
    width:100px;
    background-color: blueviolet;
    border-radius: 12px;
    margin: 30px;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px;
    font-family: 'Roboto', sans-serif;
    text-size-adjust: 12px;
    
    
}

.search_knop {
    border-radius: 100%;
    box-shadow: 3px 3px;

    

}

.search_knop img{
    height: 40px;
    
    

}