<div class="container mt-4">
  <h4 class="mb-3">Kies een reserveringsperiode</h4>
  <div class="row">
    <div class="col-md-8">
      <div class="input-group input-daterange" id="reservationDatepicker">
        <input type="text" class="form-control" name="start" placeholder="Startdatum" readonly>
        <div class="input-group-append input-group-prepend">
          <span class="input-group-text">tot</span>
        </div>
        <input type="text" class="form-control" name="end" placeholder="Einddatum" readonly>
        <div class="input-group-append">
          <span class="input-group-text">
            <i class="fa fa-calendar"></i>
          </span>
        </div>
      </div>
      <div class="mt-3" id="selectedDateDisplay"></div>
    </div>
  </div>
</div>

<!-- Bootstrap Datepicker & dependencies -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

<script>
  function initializeDatepicker() {
    // Vul deze array met gereserveerde datums vanuit Flask
    const reservedDates = {{ reserved_dates_flat | tojson | safe }};
    
    $('#reservationDatepicker').datepicker({
      format: 'yyyy-mm-dd',
      autoclose: true,
      todayHighlight: true,
      datesDisabled: reservedDates,
      endDate: '+1y'
    }).on('changeDate', function(e) {
      const start = $('input[name="start"]').val();
      const end = $('input[name="end"]').val();
      
      if (start && end) {
        const startDate = new Date(start);
        const endDate = new Date(end);
        let currentDate = new Date(startDate);
        let hasReservedDate = false;

        while (currentDate <= endDate && !hasReservedDate) {
          const dateString = currentDate.toISOString().split('T')[0];
          if (reservedDates.includes(dateString)) {
            hasReservedDate = true;
          }
          currentDate.setDate(currentDate.getDate() + 1);
        }

        if (hasReservedDate) {
          alert("De geselecteerde periode bevat niet-beschikbare dagen. Kies een andere periode.");
          $('input[name="start"]').val('');
          $('input[name="end"]').val('');
          $('#selectedDateDisplay').html('');
        } else {
          $('#selectedDateDisplay').html(`
            <strong>Geselecteerde periode:</strong> ${start} tot ${end}
          `);
        }
      }
    });
  }

  $(document).ready(initializeDatepicker);

  document.body.addEventListener('htmx:afterSwap', function(evt) {
    if (evt.detail.elt.querySelector('#reservationDatepicker')) {
      initializeDatepicker();
    }
  });
</script>