body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(120, 172, 173);
}

.hoofdbalk {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #44746c; 
}

.logo img {
    height: 50px;
}

.menu .button {
    text-decoration: none;
    padding: 10px 20px
}

h2 {
    font-family: 'Times New Roman', Times, serif;
}

.box {
    padding: 12px;
    background-color: rgb(219, 170, 170) ;
    width: fit-content;
}