{% extends "base.html"%}

{% block body %}

<center>
    <div class="aanpassen">
        
        <h2>Aanpassen</h2>
        <form action="{{ url_for('change', ISBN = def_ISBN) }}" method="post" name="change" enctype = "multipart/form-data">
            
            <img src="../static/upload/{{def_ISBN}}.jpg" alt="Afbeelding">
            <input type = "file" name = "file" />
            <h2>ISBN</h2>
            <label for="ISBN"></label>
            <input type="number" name="ISBN" value="{{def_ISBN}}" required><br><br>
    
            <h2>Titel</h2>
            <input type="text" name="titel" value="{{def_titel}}" required><br><br>
    
            <h2>Thema</h2>
            <div class="scrollable-checkboxes">
            {% for thema in themas %}
                <input type="checkbox" id="thema_{{ thema[0] }}" name="themas" value="{{ thema[0] }}"
                       {% if thema[0] in def_themas %} checked {% endif %}>
                <label for="thema_{{ thema[0] }}">{{ thema[0] }}</label><br>
            {% endfor %}
            </div>
    
            <h2>Genre</h2>
        <div class="scrollable-checkboxes">
            {% for genre in genres %}
                <input type="checkbox" id="genre_{{ genre[0] }}" name="genres" value="{{ genre[0] }}"
                       {% if genre[0] in def_genres %} checked {% endif %}>
                <label for="genre_{{ genre[0] }}">{{ genre[0] }}</label><br>
            {% endfor %}
        </div>
    
            <h2>Auteur</h2>
            <div class="scrollable-checkboxes">
            {% for auteur in auteurs %}
                <input type="checkbox" id="auteur_{{ auteur[0] }}" name="auteurs" value="{{ auteur[0] }}"
                       {% if auteur[0] in def_auteurs %} checked {% endif %}>
                <label for="auteur_{{ auteur[0] }}">{{ auteur[0] }}</label><br>
            {% endfor %}
            </div>
    
            
            <input type="submit" value="Register">
        </form>
    </div>
    </center>

{% endblock %}