<!DOCTYPE html>
<html lang="en">                               
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boeken</title>
    <link rel="stylesheet" href="static/css/base.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header class="hoofdbalk">
        <img src="static/afbeeldingen/logo.svg" alt="logo" class="logo">
        <div class="categorie">
            <div class="knop_categorie">lorem ipsum 1</div>
            <div class="knop_categorie">lorem ipsum 2</div>
            <div class="knop_categorie">lorem ipsum 3</div>
            <button class="search_knop">
                <img src="static/afbeeldingen/search_FILL0_wght400_GRAD0_opsz24.svg" alt="">
            </button>

        </div>
            
    </header>

    <div class="widget">
        <div class="widget-item"></div>
        <div class="widget-item"></div>
        <div class="widget-item"></div>
        <div class="widget-item"></div>
        <div class="widget-item"></div>
        <div class="widget-item"></div>

    </div>
    <p> test</p>
</body>
</html>