{% extends "base.html" %}

{% block body %}

<center>
<div class="verwijderen">
    <h2>Delete Items</h2>
    <div>
      <form hx-get="{{ url_for('delete', table='boek') }}">
        <button type="submit">Verwijder Boeken</button>
      </form>
    </div>
    <div>
      <form hx-get="{{ url_for('delete', table='genre') }}">
        <button type="submit">Verwijder Genres</button>
      </form>
    </div>
    <div>
      <form hx-get="{{ url_for('delete', table='thema') }}">
        <button type="submit">Verwijder Thema's</button>
      </form>
    </div>
    <div>
      <form hx-get="{{ url_for('delete', table='auteur') }}">
        <button type="submit">Verwijder Auteurs</button>
      </form>
    </div>
  </div>
  <div id="deleteResult"></div>
</center>


{% endblock %}