{% extends "base.html" %}

{% block title %} Gebruikers {% endblock title %} 

{% block body %}
<body>
    <div class="sidenav">
      <a href="{{url_for('adminworkspace')}}">Aanpassen</a>
      <a href="{{url_for('gebruikers')}}">Gebruikers</a>
      <a href="#contact">Contact</a>
    </div>
  </body>
    <div class="gebruikers-container">
        <h1>Gebruikerslijst</h1>
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>Voornaam</th>
                    <th>Achternaam</th>
                    <th>E-mailadres</th>
                    <th>Rol</th>
                </tr>
            </thead>
            <tbody>
                {% for gebruiker in gebruikers %}
                    <tr>
                        <td>{{ gebruiker.id}}</td>
                        <td>{{ gebruiker.naam }}</td>
                        <td>{{ gebruiker.achternaam}}</td>
                        <td>{{ gebruiker.email }}</td>
                        <td>{{gebruiker.rol}}</td>
                        <td>
                            <a href="{{ url_for('bewerk_gebruiker', gebruiker_id=gebruiker.id) }}">
                                <button>Wijzig</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
{% endblock body %}
