{% extends "base.html"%}

{% block body %}
<center>
<h2>Welkom op de bib site!</h2>
<h2>Gemaakt door 6ICW</h2><br><br>

<div class="box">
    <h2>Boek van de maand!</h2>
</div>
<br>
<div class="box">
    <h2>Nieuwe boeken!</h2>
    <div class="container">
        <img src="https://media.s-bol.com/NQlJgAXX4Dv/547x840.jpg">
        <img src="https://media.s-bol.com/g5kq1wP97KW9/850x1200.jpg">
        <img src="https://media.s-bol.com/4VMwojwBBv57/nRRvDNY/787x1200.jpg">
        
    </div>    

<div class="zijbalk">
    <a href="https://glorieuxsecundair.smartschool.be/login?s=2"><img src="/static/afbeeldingen/ss.jpg" alt="Logo" title="Smartschool"></a>
    <a href="{{url_for('PICT')}}"><img src="/static/afbeeldingen/pict.png" alt="Logo" title="PICT"></a>
    <a href="{{url_for('taal')}}"><img src="/static/afbeeldingen/taal.png" alt="Logo" title="taal remediëren"></a>

</div>
</center>

{% endblock %}
