{% extends "base.html" %}

{% block title %} Login {% endblock title %} 




    {% block body %}
    <center>
        
        <h1>Login</h1>
        <H2>Naam</H2>
        <form action="/login" method="post" class="mb-3">
            <label for="email">Email adres</label>
            <input type="text" placeholder="E-mail" name="login_email"> <br>
            
            <input type="password" placeholder="paswoord" name="login_paswoord">
            <input type="submit" name="login">
        </form>
        <br>
        <a href="{{url_for('register')}}"><h1>register</h1></a>
        
        
    </center>
    {% endblock body %}

