{% extends "base.html" %}

{% block title %} Login {% endblock title %} 




    {% block body %}
    <body>
    
        
    <center>
        <h2>Log-in</h2>
        <form action="/login" method="post" class="mb-3">
            <label for="email">Email adres</label>
            <input type="text" placeholder="E-mail" name="login_email"> <br>
            <label for="password">Wachtwoord</label>
            <input type="password" placeholder="Wachtwoord" name="login_paswoord">
            <br>
            <p>Wachtwoord vergeten?</p>
            <!--POP-UP TOEVOEGEN!!!-->
            <input type="submit" name="login" value="Log-in">
        </form>
        <br>

        <a href="{{ url_for('register') }}"><h3>Nog geen account?</h3></a>
        <!--<button onclick="document.location='register'">Registreer</button>-->
        
        
        
    </center>
    </body>
    {% endblock body %}

