{% extends "base.html" %}

{% block title %} Register {% endblock title %} 

{% block body %}
<center>
    <form action="/register" method="post">
        <h2>Naam</h2>
        <input type="text" name="name" placeholder="Name" required><br><br>

        <h2>achternaam</h2>
        <input type="text" name="name" placeholder="achternaam" required><br><br>

        <h2>Email</h2>
        <input type="text" name="register_email" placeholder="Email" required><br><br>

        <h2>Password</h2>
        <input type="password" name="register_paswoord" placeholder="Password" required><br><br>

        <input type="submit" value="Register">
    </form>
</center>
{% endblock body %}
