{% extends "base.html" %}

{% block title %} Register {% endblock title %} 

{% block body %}
<style>
    #passwordFeedback {
        font-weight: bold;
        margin-top: 5px;
        display: none; /* Initially hidden */
    }
    #passwordFeedback.red {
        color: red;
    }
    #passwordFeedback.green {
        color: green;
    }
</style>
<center>
    <form action="/register" method="post">
        <h2>Naam</h2>
        <input type="text" name="name" placeholder="Name" required><br><br>

        <h2>achternaam</h2>
        <input type="text" name="achternaam" placeholder="achternaam" required><br><br>

        <h2>Email</h2>
        <input type="text" name="register_email" placeholder="Email" required><br><br>

        <h2>Password</h2>
        
        <input type="password" id="register_paswoord" name="register_paswoord" placeholder="Password" required oninput="validatePassword()"><br>
        <span id="passwordFeedback" style="display:none;"></span>
        <br>

        <select name="recht" id="recht">
            {% for choice,label in rol_choices %}
                    <option value="{{ choice }}">{{ label }}</option>
            {% endfor %}
        </select>

        <input type="submit" id="submitButton" value="Register" disabled>
    </form>
</center>

<script>
    function validatePassword() {
        const password = document.getElementById('register_paswoord').value;
        const feedback = document.getElementById('passwordFeedback');
        const submitButton = document.getElementById('submitButton');
        
        
        //wachtwoord vereisten
        const minLength = 8;
        const hasUpperCase = /[A-Z]/.test(password);
        const hasLowerCase = /[a-z]/.test(password);
        const hasNumbers = /\d/.test(password);
        const hasSpecialChar = /[!@#$%^&*(),.?":{}|<>]/.test(password);
        
        // Checken of de vereisten behaald zijn
        if (password.length < minLength || !hasUpperCase || !hasLowerCase || !hasNumbers || !hasSpecialChar) {
            feedback.style.color = 'red';
            feedback.textContent = 'Password must be at least 8 characters long, contain upper and lower case letters, numbers, and special characters.';
            feedback.style.display = 'block';
            submitButton.disabled = true;
        } else {
            feedback.style.color = 'green';
            feedback.textContent = 'Passwoord is goed.';
            feedback.style.display = 'block';
            submitButton.disabled = false;
        }
    }
</script>

{% endblock body %}
