{% extends "base.html" %}

{% block title %} Register {% endblock title %} 

{% block body %}
<center>
    <form action="/register" method="post">
        <h2>Naam</h2>
        <input type="text" name="name" placeholder="Name" required><br><br>

        <h2>achternaam</h2>
        <input type="text" name="achternaam" placeholder="achternaam" required><br><br>

        <h2>Email</h2>
        <input type="text" name="register_email" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" title="Dit is geen gekend email." required><br><br>
    
        
        <h2>Password</h2>
        <input type="password" name="register_paswoord" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required><br><br>

        <select name="recht" id="recht">
            {% for choice,label in rol_choices %}
                    <option value="{{ choice }}">{{ label }}</option>
            {% endfor %}
        </select>

        <input type="submit" value="Register">
    </form>
</center>
{% endblock body %}
